html {
    height: 100%;
    width: 100%;
}

html, body {
    overflow: hidden;
}

html, body, button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

span b {
    font-weight: 600;
}

#form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-form {
    /*position: relative;*/
    background: #FFFFFF;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 540px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.main-form__title {
    font-size: 20px;
    line-height: 27px;
}

#emails-input {
    padding-top: 24px;
}

#main-form__content {
    background: #F8F8F7;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    padding: 32px 50px 24px 50px;
}

#main-form__buttons {
    display: flex;
    justify-content: flex-start;
    padding: 12px 50px 32px 50px;
    flex-wrap: wrap;
}

button {
    background: #4262FF;
    border-radius: 6px;
    height: 40px;
    margin-right: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 8px 16px;
    outline: none;
    border: none;
    white-space: nowrap;
}

button:hover {
    cursor: pointer;
}

#main-form__buttons button {
    margin: 12px 16px 0 0;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

/*.emails-form {*/
/*    background: #FFFFFF;*/
/*    border: 1px solid #C3C2CF;*/
/*    box-sizing: border-box;*/
/*    border-radius: 4px;*/
/*    min-height: 96px;*/
/*    max-height: 96px;*/
/*    overflow-y: auto;*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    flex-wrap: wrap;*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/
/*.emails-form:focus {*/
/*    outline: 0;*/
/*}*/

/*.emails-form__input {*/
/*    position: relative;*/
/*    margin: 8px;*/
/*    min-width: 125px;*/
/*    display: block;*/
/*    flex: 1;*/
/*}*/

/*.emails-form__input:empty::before {*/
/*    position: absolute;*/
/*    content: attr(data-placeholder);*/
/*    color: #C3C2CF;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    white-space: nowrap;*/
/*}*/

/*.emails-form__input:focus {*/
/*    outline: 0;*/
/*}*/

/*.emails-form__tag {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    margin: 8px 0 4px 8px;*/
/*    position: relative;*/
/*    background: rgba(102, 153, 255, 0.2);*/
/*    border-radius: 100px;*/
/*}*/

/*.emails-form__tag-text {*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    -ms-text-overflow: ellipsis;*/
/*    text-overflow: ellipsis;*/
/*    display: inline-block;*/
/*}*/

/*.emails-form__tag_invalid {*/
/*    background: none;*/
/*    border-radius: 0;*/
/*    border-bottom: 1px dashed #D92929;*/
/*}*/

/*.emails-form__tag > div {*/
/*    box-sizing: border-box;*/
/*    padding: 0 4px 0 10px;*/
/*    max-height: 24px;*/
/*}*/

/*.emails-form__tag-removeButton {*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*    color: black;*/
/*    width: 14px;*/
/*    height: 14px;*/
/*    outline: none;*/
/*    border: none;*/
/*    background: none;*/
/*    border-radius: 0;*/
/*    padding: 0;*/
/*    margin-right: 6px;*/
/*}*/
